@charset "utf-8";

@import "asset/libs/_mixin.scss";


.fadein {
    opacity: 0;
    transform: translate(0, 80px);
    transition: all 800ms;
}

.fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
    transition: 1.2s;
}

.about-wrapper {
    max-width: 100%;

    .inner {
        padding: 0 10px;
        margin: 30px 0;
        text-align: center;

        .main-ttl {
            @include main-ttl;
        }

        .about-sec {
            display: flex;
            flex-direction: column;

            .about-imge {
                width: 100%;

                img {
                    width: 70%;
                    box-shadow: 11px 10px 2px $brwn;
                }
            }

            .profile {
                .main-sub-ttl {
                    @include main-sub-ttl;
                    margin-top: 30px
                }

                .profile-list {
                    width: 100%;

                    dt {
                        float: left;
                        @include main-text;
                        font-size: 1.6rem;
                    }

                    dd {
                        text-align: left;
                        @include main-text;
                        font-size: 1.6rem;
                    }
                }

                .profile-text {
                    text-align: left;
                    @include main-text;
                }
            }
        }

        .ba-color {
            background-color: $yelloow-01;
            width: 200px;
            height: 50px;
            display: inline-block;
            position: relative;
            margin: 30px;
            position: relative;

            .link-btn {
                @include link-btn;

                &:hover {
                    opacity: .8;
                }

                &:active {
                    position: absolute;
                    color: $white;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}

.link-text {
    a {
        @include link-text-a;

        .fa-angle-double-right,
        .fa-external-link-alt {
            @include link-text-fa;
        }

        &:hover {
            @include link-text-hov;
        }
    }
}

@include tb {
    .about-wrapper {
        padding-bottom: 60px;

        .inner {
            max-width: 1200px;
            margin: 0 auto;

            .main-ttl {
                @include main-ttl-pc;

            }

            .about-sec {
                flex-direction: row;

                .about-imge {
                    width: 50%;
                }

                .profile {
                    max-width: 50%;

                    .main-sub-ttl {
                        text-align: left;
                        font-size: 3.2rem;
                        margin-top: 0;
                    }

                    .profile-list {
                        width: 100%;

                        dt {
                            font-size: 1.8rem;
                        }

                        dd {
                            font-size: 1.8rem;

                            .sp-br {
                                display: none;
                            }
                        }
                    }

                    .link-text {
                        text-align: left;
                    }
                }
            }
        }
    }
}