@charset "utf-8";

@import "asset/libs/_mixin.scss";

.footer {
    background-color: $ba-color-black;
    padding: 20px;
    text-align: center;

    small {
        a {
            color: $white;
            text-decoration: none;

        }
    }
}