@charset "utf-8";

@import "asset/libs/_mixin.scss";

.header {
    position: fixed;
    width: 100vw;
    z-index: 10;
    background-color: $ba-color-black;

    .inner {
        position: relative;
        height: 60px;
        display: flex;

        .header-logo {
            font-size: 2.4rem;
            line-height: 60px;
            margin-left: 20px;

            a {
                text-decoration: none;
                color: $white;
            }
        }

        .fa-bars {
            position: absolute;
            right: 20px;
            top: 17px;
            font-size: 2.4rem;
            color: $white;
        }
    }

    .header-nav-sp {
        position: relative;
        position: fixed;
        top: 0;

        .fa-times {
            position: absolute;
            right: 20px;
            top: 17px;
            font-size: 2.4rem;
            color: $white;
        }

        .nev-list {
            background-color: $ba-color-black-sp;
            height: 100vh;

            li {
                text-align: center;
                width: 100vw;

                a {
                    display: block;
                    text-decoration: none;
                    font-size: 2.4rem;
                    padding: 20px 0;
                    color: $white;

                    &:hover {
                        color: $green;
                        background-color: rgb(75, 71, 71);
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    .header-nav-pc {
        display: none;
    }
}

@include tb {
    .header {
        .pc-inner {
            display: flex;
            justify-content: space-between;
            height: 80px;

            .inner {
                .header-logo {
                    align-self: flex-start;
                    height: 80px;
                    line-height: 80px;
                    font-size: 3.2rem;

                    a {
                        line-height: 80px;
                        display: inline-block;
                    }
                }

                .fa-bars {
                    display: none;
                }
            }
        }

        .header-nav-pc {
            display: block;

            .nev-list {
                list-style: none;
                display: flex;
                justify-content: space-around;

                li {
                    display: flex;
                    padding: 0 20px;

                    a {
                        display: inline-block;
                        text-decoration: none;
                        font-size: 2.4rem;
                        color: $white;
                        height: 80px;
                        line-height: 80px;
                    }
                }
            }
        }
    }
}

@include pc {
    .header {
        .pc-inner {
            max-width: 1200px;
            margin: 0 auto;

            .inner {
                .header-logo {
                    margin-left: 0;
                }
            }
        }
    }
}