@charset "utf-8";

@import "asset/libs/_mixin.scss";

main {
    .bk {
        .inner {
            .portfolio-wrapper {
                .main-ttl {
                    @include main-ttl;
                    display: inline-block;
                }

                .portfolio-sec {
                    .portfolio-img {
                        width: 100%;
                        margin-bottom: 30px;

                        img {
                            width: 100%;
                        }
                    }

                    .portfolio-text {
                        width: 100%;

                        .profile-list {
                            .contents-list{
                                max-width: 100%;
                                margin: 24px auto;
                                list-style-type: none;
                                border: solid 2px $brwn;
                                border-radius: 3px;
                                padding: 14px;
                                .h4-ttl{
                                    text-decoration: underline $brwn;
                                    margin-bottom: 10px;
                                }
                                li{
                                    a{
                                    text-decoration: none;
                                    @include link-text-a;
                                    &:hover{
                                        @include link-text-hov;
                                    }

                                }
                                }
                            }
                            .main-sub-ttl {
                                @include main-sub-ttl;
                                border-left: 2px solid $brwn;
                                padding: 4px 0 4px 5px;
                                background-color: #fdefe0;
                            }

                            .main-text {
                                margin: 0px 0px 20px 13px;
                                @include main-text;

                                .text-br {
                                    margin-bottom: 10px;
                                }
                            }

                            .h4-ttl {
                                @include h4-ttl;
                                margin-left: 13px;
                                margin-bottom: 0;
                            }

                            .link-box {
                                @include main-text;
                                margin-left: 13px;

                                a {
                                    @include link-text-a;

                                    .fa-external-link-alt {
                                        @include link-text-fa;
                                    }

                                    &:hover {
                                        @include link-text-hov;
                                    }
                                }
                            }

                            ul {
                                margin-left: 32px;

                                li {
                                    @include main-text;
                                }
                            }
                        }

                        .link-text {
                            margin-bottom: 20px;
                            display: inline-flex;
                            flex-direction: column;

                            a {
                                &:first-child {
                                    margin-bottom: 10px;
                                }
                            }
                        }

                        .site-img-btn {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 50px;
                            list-style-type: none;

                            .img-btn {
                                @include btn;
                                margin-bottom: 20px;

                                &:hover {
                                    @include btn-hov;
                                }

                                &:first-child {
                                    margin-right: 10px;
                                }
                            }

                            .btn:first-child {
                                margin-right: 5px;
                            }
                        }

                        .site-img-pc,
                        .site-img-sp {
                            position: relative;

                            .site-img-container {
                                z-index: 100;
                                position: fixed;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                text-align: center;

                                .site-img-content {
                                    position: absolute;
                                    text-align: center;
                                    background: rgba(0, 0, 0, 0.9);
                                    width: 100%;



                                    .fa-times-circle {
                                        position: absolute;
                                        font-size: 20px;
                                        top: 20px;
                                        right: 20px;
                                        color: $carrot-01;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

.page-link {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px $font-color;
    width: 100%;
    padding: 100px 0 20px 0;

    li {
        @include li-btn;
        width: 95px;

        .fa-angle-double-left {
            @include link-text-fa;
        }

        a {
            text-decoration: none;
            display: inline-block;
            color: $font-color;
            line-height: 35px;

            .fa-angle-double-left {
                @include link-text-fa;
            }
        }
    }

    .next {
        &:hover {
            background-color: #e1d7ce;
            opacity: 0.7;
        }
    }
}


@include tb {
    main {
        .bk {
            margin: 0 auto;
            max-width: 1200px;
            padding: 20px;

            .inner {
                // max-width: 1100px;
                // margin: 0 auto;

                .portfolio-wrapper {
                    .main-ttl {
                        @include main-ttl-pc;
                    }

                    .portfolio-sec {
                        .portfolio-img {
                            text-align: center;

                            img {
                                width: 100%;
                            }
                        }

                        .portfolio-text {
                            padding-bottom: 50px;

                            .main-sub-ttl {
                                margin: 40px 0;
                            }

                            .link-text {
                                margin-top: 20px;
                            }

                            .site-img-btn {
                                flex-direction: row;

                                .img-btn {
                                    width: 200px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}