@charset "utf-8";

@import "asset/libs/_mixin.scss";

.single-key-visual {
    padding-top: 50px;
    width: 100%;
    background: linear-gradient(25deg, #f3e5a7, #FFC778);

    .inner {
        padding: 0 20px;
    }

    .main-ttl {
        margin: 95px 0 10px;
        @include main-ttl;
        margin-bottom: 0;
        text-align: left;
        color: $white;
        text-shadow: 1px 1px 2px $font-color;
    }
}

main {
    .bk {
        margin: 0 auto;
        background-color: #fff8ef;
        margin: 10px;
    
        .inner {
            padding: 10px;

            .nav-list {
                list-style-type: none;
                display: flex;

                li {
                    padding-right: 10px;

                    a {
                        color: $font-color;
                        text-decoration: none;

                        .fa-home {
                            margin-right: 5px;
                        }

                        &:hover {
                            color: $carrot-01;
                        }
                    }

                    .fa-angle-right {
                        margin-left: 5px;
                        vertical-align: middle;
                    }
                }
            }

            .archive-wrapper {
                .main-ttl {
                    @include main-ttl;
                    display: inline-block;
                }

                .works-img {
                    display: flex;
                    flex-direction: column;

                    .img-filter {
                        margin: 10px 0;
                        position: relative;
                        display: inline-block;
                        max-width: 100%;

                        img {
                            width: 100%;
                            vertical-align: bottom;
                            border: 1px solid rgb(131, 130, 130);
                            box-sizing: border-box;
                        }

                        .img-mask {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: rgba(0, 0, 0, 0.4);
                            transition: all 0.6s ease;
                            transform: scale(0);

                            .img-cap {
                                font-size: 3.6rem;
                                padding-left: 20px;
                                color:$white;
                                padding-top: 100px;
                            }
                        }

                        &:hover .img-mask {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
}

@include tb {
    .single-key-visual {
      

        .main-ttl {
            margin-bottom: 35px;
            font-size: 5.2rem;
        }
    }

    main {
        .bk {
            // max-width: 1200px;
            // padding: 20px;
            .inner {
                // max-width: 900px;
                // margin: 0 auto;

                .archive-wrapper {
                    padding-bottom: 60px;

                    .main-ttl {
                        @include main-ttl-pc;
                    }

                    .works-img {
                        flex-direction: row;
                        // flex-wrap: wrap;
                        justify-content: space-between;

                        .img-filter {
                            width: 33%;
                            height: 100%;
                            margin-right: 20px;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include pc {
    .single-key-visual {
        .inner {
            max-width: 1100px;
            margin: 0 auto;
            padding: 0;
        }
    }

    main {
        .inner {
            padding: 0%;
        }
    }
}